body {

    margin: 0;
}
header
{
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    font-size: 50px;
    position: fixed;
    background-color: rgb(218, 221, 44);
    border-radius: 5px;
    width: 100%;
    
}
header nav
{
    float: right;
    padding-right: 20px;
    line-height: 80px;
    
}
strong
{
    color:  rgb(24, 116, 116);
}
nav a
{
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    font-size: 30px;
    color: rgb(24, 116, 116);
    display: inline;

    
}
a:hover
{
    text-decoration: underline;
    color: rgb(168, 96, 96);
}
img
{
    padding-right: 500px;
    height: 75px;
    width: 65px;
    background: transparent;
}
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/backtpp.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }